<h4 class = "fw-bold text-center">Application Form</h4>
<form action="/job/{{job['id']}}/apply" method="post">
  <div class="mb-2">
    <label class="form-label">Full Name</label><br>
    <input class="form-control" type="text" required name="full_name" placeholder="Enter Name">
  </div>
  <div class="mb-2">
    <label class="form-label">Email</label><br>
    <input class="form-control" type="email" required name="email" placeholder="example@email.com">
  </div>
  <div class="mb-2">
    <label class="form-label">LinkedIn</label><br>
    <input class="form-control" type="url" name="linkedin_url" placeholder="https://linkedin.com/in/username">
  </div>

  <div class="mb-2">
    <label class="form-label">Education</label><br>
    <textarea class="form-control" name="education"></textarea>
  </div>

  <div class="mb-2">
    <label class="form-label">Work Experience</label><br>
    <textarea class="form-control" name="work_experience"></textarea>
  </div>

  <div class="mb-2">
    <label class="form-label">Resume URL</label><br>
    <input class="form-control" type="url" name="resume_url">
  </div>
  <div class = "text-center  mt-5">
    <button type="submit" class="btn btn-primary">Submit Application</button>
  </div>
  
</form>